body {
    font-family: sans-serif;
    font-size: 18px;
    color: black;
    background-color: rgba(209, 165, 127, 0.666);
}
li {font-weight: bold;
}
.unbold {
    font-style: italic;
    font-weight: normal;
    color: black;
}
h5{text-decoration: underline;
}
.picborder{
    border: 5px;
    border-style: double;
    border-color: white;
}
